.heroContainer {
  padding-top: 7vh;
  position: relative;
  width: 100%;
  height: 93vh;
  overflow: hidden;
}
.heroImage {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.heroText {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1000;
  padding-bottom: 4vw;
  font-family: "Figtree", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 8vw;
  user-select: none;
  text-shadow: 2px 2px 40px rgba(255, 255, 255, 0.125);
}
.heroSub {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1000;
  font-family: "Figtree", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  padding-top: 5.5vw;
  font-size: 3vw;
  user-select: none;
}
