.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 90%;
  margin-inline: auto;
  margin-bottom: 1vh;
  height: 6vh;
  text-align: center;
  background-color: white;
  transition: background-color 0.1s ease;
  border: transparent;
  text-decoration: none;
}
.button:hover {
  background-color: rgb(215, 219, 221);
}
.heroContainer {
 padding-top: 7vh;
 position: relative;
 width: 100%;
 height: calc(25vw - 7vh);
 overflow: hidden;
 margin-bottom: 33vh;
}
.heroImage {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.heroText {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1000;
  font-family: 'Arial', monospace;
  font-weight: bold;
  text-align: center;
  font-size: 8vw;
  user-select: none;
  text-shadow: 2px 2px 40px rgba(255, 255, 255, 0.125);
}
.portfolioContainer {
   display: flex;
   width: 60vw;
   margin: auto;
   justify-content: center;
   align-items: center;  
 }
 .portfolioImage {
   text-decoration-line: none;
   height: 20vw;
   width: 20vw;
   margin: 0%;
   transition: box-shadow 0.1s ease;
 }
 .portfolioImage:hover {
   box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.25)
 }
 .portfolioTextTitle {
   color: black;
   padding-top: 2.5%;
   padding-left: 2.5%;
   text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
 }
 .portfolioTextSub {
   color: black;
   padding-left: 2.5%;
   text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
 }
 .portfolioDate {
   color: black;
   margin-top: 19vw;
   position: absolute;
   width: 19vw;
   text-align: right;
   text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
 }
 @media (max-aspect-ratio: 1/1) {
   .heroContainer {
     height: calc(75vw - 7vh);
     margin-bottom: 15vh;
   }
   .heroText {
     font-size: 16vw;
     text-shadow: 2px 2px 80px rgba(255, 255, 255, 0.75);
   }
   .portfolioContainer {
     display: flex;
     width: 80vw;
     margin: auto;
     justify-content: center;
     align-items: center;  
   }
   .portfolioImage {
     height: 40vw;
     width: 40vw;
     margin: 0%;
     transition: box-shadow 0.1s ease;
   }
   .portfolioTextbox {
     line-height: 3vw;
     width: 40vw;
     padding: 5%;
     text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
     text-align: left;
     user-select: none;
   }
   .portfolioTextTitle {
     font-size: 5vw;
     line-height: 5vw;
   }
   .portfolioTextSub {
     font-size: 4vw;
     line-height: 4vw;
   }
   .portfolioDate {
     margin-top: 34vw;
     position: absolute;
     font-size: 4vw;
     line-height: 4vw;
     width: 37vw;
     text-align: right;
     text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
   }
 }