@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body {
   margin: 0%;
}
a {
  color: black;
}
#loading {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-position: center;
}
h1 {
  font-family: "Figtree", "Arial", sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  margin: 0%;
}
p {
  font-family: "Figtree", "Arial", sans-serif;
  font-weight: normal;
  font-size: 1.3vw;
  margin: 0%;
}
h2 {
  font-family: "Figtree", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 0.8vw;
  margin: 0%;
}
hr {
  width: 60%;
  height: 2px;
  background-color: black;
  border: none;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.text {
  color: black;
  font-family: "Figtree", "Arial", sans-serif;
  font-weight: normal;
  margin: 0%;
}
.header {
  position: fixed;
  display: flex;
  background-color: rgba(235, 239, 240, 0);
  width: 100%;
  height: 7vh;
  z-index: 10000;
}
.headerLeft {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 16vw;
}
.headerRight {
  display: flex;
  width: 68vw;
  height: 100%;
  justify-content: center;
}
.headerImg {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2vw;
  text-decoration: none;
  height: 90%;
  color: black;
  font-weight: bold;
  text-align: left;
  font-family: "Figtree", "Arial", sans-serif; 
  font-size: 0.8vw;
}
.headerBold {
  margin: auto;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: left;
  font-family: "Figtree", "Arial", sans-serif; 
  font-size: 1.2vw;
}
.headerText {
  color: black;
  margin: auto;
  margin-inline: 2vw;
  text-decoration: none;
  font-family: "Figtree", "Arial", sans-serif;
  font-weight: normal;
  font-size: 1vw;
}
.footerContainer {
  align-self: center;
  margin-top: 33vh;
  display: flex;
  background-color:#ebeff0;
  padding-inline: 15%;
  width: 70%;
  height: 33vh;
}
.footerLeft {
  order: 0;
  margin: auto;
  width: 80%;
  padding-inline: 10%;
  display: flex;
}
.footerLeftContainer {
  flex-direction: column;
  text-align: center;
  display: flex;
  background-color:#ebeff0;
  font-size: 1vw;
  width: 100%;
}
.footerLinks {
  flex-grow: 5;
  order: 1;
  width: 30%;
  padding: 2rem;
}
.footerBottom {
  background-color: #ebeff0;
  padding-inline: 20%;
  height: 7vh;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
.footerSocialLinks {
  width: fit-content;
  display: flex;
  height: 60%;
  justify-content: left;
}
.footerLogoContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: auto;
  padding-inline: 1vw;
}
.footerLogos {
  width: auto;
  height: 100%;
  object-fit: contain;
}
@media (max-aspect-ratio: 1/1) {
  h1 {
    font-size: 5vw;
  }
  p {
    font-size: 3.5vw;
  }
  h2 {
    font-size: 3vw;
  }
  .h2 {
    font-size: 3vw;
  }
  hr {
    height: 1px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
  .headerImg {
    height: 70%;
  }
  .headerBold {
    display: none;
  }
  .headerText {
    font-size: 2.8vw;
  }
  .footerContainer {
    margin-top: 15vh;
    padding: 0%;
    padding-top: 5vw;
    width: 100%;
  }
  .footerLeft {
    padding: 0%;
    order: 0;
    width: 100%;
    display: flex;
  }
  .footerLeftContainer {
    width: 100%;
  }
  .footerBottom {
    padding-inline: 10%;
  }
}