.button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 2vh;
   padding-bottom: 2vh;
   width: 90%;
   margin-inline: auto;
   margin-bottom: 1vh;
   height: 6vh;
   text-align: center;
   background-color: white;
   transition: background-color 0.1s ease;
   border: transparent;
   text-decoration: none;
 }
 .button:hover {
   background-color: rgb(215, 219, 221);
 }
 .heroContainer {
  padding-top: 7vh;
  position: relative;
  width: 100%;
  height: calc(25vw - 7vh);
  overflow: hidden;
  margin-bottom: 33vh;
}
 .heroImage {
   width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 0;
 }
 .heroText {
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translate(0%, -50%);
   z-index: 1000;
   font-family: 'Arial', monospace;
   font-weight: bold;
   text-align: center;
   font-size: 8vw;
   user-select: none;
   text-shadow: 2px 2px 40px rgba(255, 255, 255, 0.125);
 }
 .postContainer {
  width: 68vw;
  margin: auto;
  justify-content: center;
  
}
 .splitContainer {
  display: flex;
  width: 70vw;
  padding-bottom: 10vw;
  overflow: hidden;
  flex-direction: row;
}
.splitImage {
  width: 30vw;
}
.splitText {
  padding-inline: 1vw;
  width: 38vw;
}
.rightText {
  text-align: right;
}
  @media (max-aspect-ratio: 1/1) {
    .heroContainer {
      height: calc(75vw - 7vh);
      margin-bottom: 15vh;
    }
    .heroText {
      font-size: 16vw;
      text-shadow: 2px 2px 80px rgba(255, 255, 255, 0.75);
    }
    .postContainer {
      width: 90vw;
      margin: auto;
      justify-content: center;
      
    }
    .splitContainer {
      display: flex;
      flex-direction: column;
      width: 90vw;
      padding-bottom: 30vw;
    }
    .splitImage {
      width: 90vw;
      order: 10;
    }
    .splitText {
      padding-inline: 1vw;
      width: 85vw;
    }
    .rightText {
      text-align: left;
    }
  }